<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>天天生鲜-首页</title>
    <link rel="short icon" th:href="@{images/copylogo.png}">
    <link rel="stylesheet" th:href="@{css/reset.css}">
    <link rel="stylesheet" th:href="@{css/index.css}">
    <link rel="stylesheet" th:href="@{css/foot.css}">
</head>

<body>
<div id="app">
    <!-- 头部  -->
    <div class="header_con">
        <div class="header">
            <div class="welcome fl">欢迎来到天天生鲜</div>
            <div class="fr">
                <div class="login_info fl" v-if="onlogin">欢迎：<em>[ {{loginName}} ]</em></div>
                <div class="login_btn fl" v-if="onlogin">
                    <span> | </span> <a href="register">注册</a>
                </div>
                <div class="login_btn fl"  v-if="outlogin" >
                    <a href="login">登录</a><span> | </span><a href="register">注册</a>
                </div>
                <div class="user_link fl">
                    <!--<span> | </span><a href="user.html">用户中心</a>-->
                    <span> | </span><a href="/cart">我的购物车</a>
                    <span> | </span><a href="/order">我的订单</a>
                </div>
            </div>
        </div>
    </div>

    <!-- 搜素框 -->
    <div class="search_bar clearfix">
        <a href="/" class="logo fl"><img src="images/logo.png"></a>
        <div class="search_con fl">
            <form>
                <input type="text" class="input_text fl" name="key_words" placeholder="搜索商品">
                <input type="submit" class="input_btn fr" value="搜索">
            </form>
        </div>
        <div class="guest_cart fr">
            <a href="/cart" class="cart_name fl">我的购物车</a>
            <div class="goods_count fl" id="show_count">{{goodsCount}}</div>
        </div>
    </div>

    <!-- 商品分类 -->
    <div class="navbar_con">
        <div class="navbar">
            <h1 class="fl">全商品分类</h1>
            <ul class="navlist fl">
                <li><a href="">首页</a></li>
                <li class="interval">|</li>
                <li><a href="">手机生鲜</a></li>
                <li class="interval">|</li>
                <li><a href="">抽奖</a></li>
            </ul>
        </div>
    </div>

    <!-- 导航栏 -->
    <div class="center_con clearfix">
        <div class="subnav fl">
            <ul>
                <li><a href="#model01" class="fruit">新鲜水果</a></li>
                <li><a href="#model02" class="seafood">海鲜水产</a></li>
                <li><a href="#model03" class="meet">猪牛羊肉</a></li>
                <li><a href="#model04" class="egg">禽类蛋品</a></li>
                <li><a href="#model05" class="vegetables">新鲜蔬菜</a></li>
                <li><a href="#model06" class="ice">速冻食品</a></li>
            </ul>
        </div>
        <div class="slide fl">
            <ul class="slide_pics">
                <li><a href="" class=""><img src="images/slide.jpg" alt="幻灯片"></a></li>
                <li><a href="" class=""><img src="images/slide02.jpg" alt="幻灯片"></a></li>
                <li><a href="" class=""><img src="images/slide03.jpg" alt="幻灯片"></a></li>
                <li><a href="" class=""><img src="images/slide04.jpg" alt="幻灯片"></a></li>
            </ul>
            <div class="prev"></div>
            <div class="next"></div>
            <ul class="points"></ul>
        </div>
        <div class="adv fl">
            <a href=""><img src="images/adv01.jpg" alt="清凉一夏"></a>
            <a href=""><img src="images/adv02.jpg" alt="盛夏尝鲜"></a>
        </div>
    </div>

    <!-- 商品展示 -->
    <div class="list_model" v-for="type in types">
        <div class="list_title clearfix">
            <h3 class="fl" id="model01">{{type.tname}}</h3>
            <div class="subtitle fl">
                <span>|</span>
                <a :href="'details#'+good.gno" v-for="good in goods" v-if="good.tno == type.tno" target="_blank">{{good.gname}}</a>
            </div>
            <a :href="'goods#'+type.tno+'&' + type.tname" class="goods_more fr" target="_blank">查看更多</a>
        </div>

        <div class="goods_con clearfix">
            <div class="goods_banner fl"><img :src="type.pic"></div>
            <ul class="goods_list fl">
                <li v-for="good in goods" v-if="good.tno == type.tno">
                    <h4><a :href="'details#'+good.gno + '&' + type.tname" target="_blank">{{good.gname}}</a></h4>
                    <a :href="'details#'+good.gno + '&' + type.tname" target="_blank"><img :src="good.pic"></a>
                    <div class="prize">&yen; {{good.price}}</div>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- 版权所有 -->
<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a> <span> | </span> <a href="#">联系我们</a> <span> | </span> <a href="#">招聘广告</a>
        <span> | </span> <a href="#">友情链接</a>
    </div>
    <p>CopyRight &copy; 2019 衡阳市源辰信息科技有限公司 All Rights Reserverd</p>
    <p>电话：0734-8355998 湘ICP备16015987号-1</p>
</div>

<script type="text/javascript" th:src="@{js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{js/slide.js}"></script>
<script type="text/javascript" th:src="@{js/vue.js}"></script>
<script type="text/javascript" th:src="@{js/axios.js}"></script>
<script>
    let vm = new Vue({
        el: "#app", // 对应div的id，即这个vue的作用域
        data: {
            onlogin: false,
            outlogin: true,
            loginName: "匿名",
            goods: {  // 商品信息
            },
            types: { // 商品类型信息
            },
            goodsCount: 0,
            carts: {} // 购物车信息
        },
        methods: {},
        mounted: function () { //数据挂载之前，相当于jquery中的$(function(){})，页面加载完成
            // 同时发送多个请求
            axios.all([checkLogin(), getGoodsInfo()])
                .then(axios.spread((fn1, fn2) => { // fn1第一个函数的返回值  fn2是第二个函数的返回值
                    if (fn1.data.member) { // 说明登录了
                        this.onlogin = true;
                        this.outlogin = false;
                        this.loginName = fn1.data.member.nickName;
                        if (fn1.data.carts) {
                            this.carts = fn1.data.carts;
                            this.goodsCount = fn1.data.carts.length;
                        }
                    } else { // 说明没有登录
                        this.onlogin = false;
                        this.outlogin = true;
                    }
                    /*fn2.data.forEach((item, index) => {
                    })*/
                    this.goods = fn2.data.goods;
                    this.types = fn2.data.types;
                }))
        }
    })

    // 检查登录的方法
    function checkLogin() {
        return axios.get("/member/check");
    }

    // 获取首页商品信息
    function getGoodsInfo() {
        return axios({
            url: "/goods/finds",
            method: "get",
            params: {}
        })
    }
</script>
</body>
</html>
