<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/axios.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@5.4.3/dist/echarts.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<body>
<div id="app">
    <div style="margin-left:900px ">
        <template>
            <el-select v-model="value" placeholder="请选择">
                <el-option
                        v-for="item in options"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </template>
    </div>
    <div id="main" style="width: 1400px;height:400px;"></div>
    <div style="margin-left:900px ">
        <template>
            <el-select v-model="value2" placeholder="请选择">
                <el-option
                        v-for="item in options2"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
        </template>
    </div>
    <div id="main2" style="width: 1400px;height:400px;"></div>
</div>
</body>
<script>
    new Vue({
        el:"#app",
        data:{
            option2 : {
                title: {
                    text: '收益详情',
                    subtext: ''
                },
                color: [
                    '#61a0a8',
                ],
                xAxis: {
                    type: 'category',
                    data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name: "详情",
                        type: 'bar',
                        smooth: true,
                        data: [120, 200, 150, 80, 70, 110, 130],
                        barWidth: '40%',
                        label: {
                            show: true
                        }
                    },
                ]
            },
            options2:[{
                value: '选项1',
                label: '黄金糕'
            }, {
                value: '选项2',
                label: '双皮奶'
            }, {
                value: '选项3',
                label: '蚵仔煎'
            }, {
                value: '选项4',
                label: '龙须面'
            }, {
                value: '选项5',
                label: '北京烤鸭'
            }],
            options:[{
                value: '选项1',
                label: '黄金糕'
            }, {
                value: '选项2',
                label: '双皮奶'
            }, {
                value: '选项3',
                label: '蚵仔煎'
            }, {
                value: '选项4',
                label: '龙须面'
            }, {
                value: '选项5',
                label: '北京烤鸭'
            }],
            value: '',
            value2 :'',
            option : {
                title: {
                    text: '收益详情',
                    subtext: ''
                },
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: ['下单数', '收益']
                },
                // toolbox: {
                //     show: true,
                //     feature: {
                //         magicType: { show: true, type: ['stack', 'tiled'] },
                //         saveAsImage: { show: true }
                //     }
                // },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: ['周一', '周二', '周三', '周四', '周五', '周六', '周日']
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name: '收益',
                        type: 'line',
                        smooth: true,
                        data: [10, 12, 21, 54, 260, 830, 710]
                    },
                    {
                        name: '下单数',
                        type: 'line',
                        smooth: true,
                        data: [30, 182, 434, 791, 390, 30, 10]
                    },
                ]
            },
        },
        methods:{
            initEcharts(){
                var myChart = echarts.init(document.getElementById('main'));
                var param=new URLSearchParams();
                param.append("date",this.value)
                axios.post("order/queryEcharts",param).then(res=>{
                    this.option.xAxis.data=res.data.Times
                    this.option.series[0].data=res.data.prices
                    this.option.series[1].data=res.data.nums
                    this.option.title.text=this.value+"月收益情况"
                    this.options=res.data.options
                    myChart.setOption(this.option);
                })
            },
            initEcharts2(){
                var myChart2 = echarts.init(document.getElementById('main2'));
                var param=new URLSearchParams();
                param.append("date",this.value2)
                axios.post("order/queryGoodsNumAndName",param).then(res=>{
                    this.option2.xAxis.data=res.data.gname
                    this.option2.series[0].data=res.data.num
                    this.option2.title.text=this.value+"月商品出售情况"
                    this.options2=res.data.options
                    myChart2.setOption(this.option2);
                })
            },
            getDate(){
                var date=new Date();
                let fullYear = date.getFullYear();
                let month = date.getMonth()+1;
                if (month<10){
                    month="0"+month
                }
                this.value=fullYear+"-"+month
                this.value2=fullYear+"-"+month
                // this.initEcharts()
            }
        },
        watch:{
            value(newValue){
                this.initEcharts()
            },
            value2(newValue){
                this.initEcharts2()
            }
        },
        mounted(){
            this.getDate();

        }
    })
</script>
</html>