<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- 必须先引入vue，  后使用element-ui -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <!-- 引入element 的组件库-->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!--引入 element-ui 的样式，-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

</head>
<body>
<div id="app">
    <el-container width="800px">
        <el-header style="display: flex">
            <span style="margin-left: 700px">客服中心</span>
            <span style="margin-left: 500px">欢迎您{{currentUser}}</span>
        </el-header>

        <el-container>
            <el-aside width="200px">
                <div v-for="u in users" class="choose" @click="choose(u)"
                     :class="{ 'choose': true, 'selected': u == chooseUser }">
                    <i class="el-icon-user"></i><span>{{u}}<br></span>
                </div>
            </el-aside>
            <el-main>
                <article>
                    <div v-for="m in msg" style="color: green;display: flex; position: relative;">
                        <span v-if="m.type==2" style="margin-left: 50px"><i class="el-icon-user-solid"></i>{{m.content}}<br></span>
                        <span v-if="m.type==1" style="position: absolute; right: 50px;">{{m.content}}<i
                                class="el-icon-user-solid"></i></span><br>
                        <span v-if="m.type==3" style="margin-left: 450px">{{m.content}}<br></span>
                    </div>
                </article>
            </el-main>
        </el-container>
    </el-container>
    <div style="display: flex">
        <div style="width: 230px;background-color: rgb(211,220,230)">

        </div>
        <div style="width: 100%;">
            <el-input
                    type="textarea"
                    placeholder="请输入内容"
                    v-model="textarea"
                    maxlength="50"
                    show-word-limit
            >
            </el-input>
        </div>
    </div>

    <div style="margin: auto;text-align: center">
        <button @click="send1">发送消息</button>
        <button @click="closeWebSocket">关闭连接</button>
    </div>
    <hr/>
    <div id="message" style="text-align: center;"></div>
    <input type="text" th:value="${username}" id="username" style="display: none"/>
    <input type="text" th:value="${manager}" id="manager" style="display: none"/>


</div>
</body>
<script>
    // ===== //
    const getNowOnlineUserName = 1
    const serviceStatus = 2
    const getOnlineList = 3
    const sendMsg = 4
    // ===== //
    const receiveMsg = 2  // 接收消息
    // ===== //
    var v = new Vue({
        el: "#app",
        data: {
            textarea: '',
            webSocket: null,
            //msg type: 1:我的消息 2:别人的消息 3: 提示消息
            msg: [],
            currentUser: '',
            users: [],
            chooseUser: '',
        },
        methods: {
            choose(u) {
                this.chooseUser = u;
            },
            init() {
                // 前台
                if (document.getElementById('username').value) {
                    this.webSocket = new WebSocket("ws://localhost:8005/websocket/connectUser/" + document.getElementById('username').value);
                    this.currentUser = document.getElementById('username').value;
                    console.info("this.currentUser: " + this.currentUser)
                    this.webSocket.onopen = () => {
                        console.log("已经连通了websocket");
                        // this.setMessageInnerHTML("已经连通了websocket");
                        this.msg.push({content: "已经连通了websocket", type: 3});
                    }
                    this.webSocket.onmessage = (evt) => {
                        let received_msg = evt.data;
                        let obj = JSON.parse(received_msg);
                        console.log("数据已接收:" + received_msg); // 消息
                        // onlineName = obj.onlineUsers
                        //1代表上线 2代表下线 3代表在线名单 4代表普通消息
                        if (obj.messageType == getNowOnlineUserName) {
                            // 通知  alert(obj.username)
                            this.users = obj.onlineManagers
                        } else if (obj.messageType == getOnlineList) { // 更新在线列表
                            // 用户列表 alert(obj.onlineUsers) 过滤自己
                            // this.users = obj.onlineUsers.filter(i => i !== this.currentUser)
                            this.users = obj.onlineManagers
                        } else if (obj.messageType == sendMsg) { // 发送消息
                            this.msg.push({content: obj.textMessage, type: receiveMsg})
                        }
                        // console.info("在线用户:" + this.users)
                        // this.users.forEach(item => console.info("iitem: " + item))
                    }
                    this.webSocket.onclose = () => {
                        console.log("连接已关闭...");
                        this.msg.push({content: "连接已经关闭....", type: 3});
                        this.users = '';
                    }

                } else {
                    // 后台端
                    this.webSocket = new WebSocket("ws://localhost:8005/websocket/connectManager/" + document.getElementById('manager').value);
                    this.currentUser = document.getElementById('manager').value;
                    this.webSocket.onopen = () => {
                        console.log("已经连通了websocket");
                        this.msg.push({content: "已经连通了websocket", type: 3});
                    }
                    this.webSocket.onmessage = (evt) => {
                        let received_msg = evt.data;
                        let obj = JSON.parse(received_msg);
                        console.log("数据已接收:" + received_msg); // 消息
                        console.log("messageType: " + obj.messageType);
                        // onlineName = obj.onlineUsers
                        //1代表上线 2代表下线 3代表在线名单 4代表普通消息
                        if (obj.messageType == getNowOnlineUserName) {
                            // 通知  alert(obj.username)
                            this.users = obj.onlineUsers
                        } else if (obj.messageType == getOnlineList) { // 更新在线列表
                            // 用户列表 alert(obj.onlineUsers) 过滤自己
                            // this.users = obj.onlineUsers.filter(i => i !== this.currentUser)
                            this.users = obj.onlineUsers
                        } else if (obj.messageType == sendMsg) { // 发送消息
                            this.msg.push({content: obj.textMessage, type: receiveMsg})
                        }
                        // console.info("在线用户:" + this.users)
                        // this.users.forEach(item => console.info("iitem: " + item))
                    }
                    this.webSocket.onclose = () => {
                        console.log("连接已关闭...");
                        this.msg.push({content: "连接已经关闭....", type: 3});
                        this.users = '';
                    }
                }
            },

            closeWebSocket() {
                //直接关闭websocket的连接
                this.webSocket.close();
            },

            send1() {
                if (this.chooseUser == '') {
                    alert("请先选择用户");
                    return;
                } else {
                    // this.setMessageInnerHTML(document.getElementById('username').value + "对" + selectText + "说：" + $("#text").val());
                    this.msg.push({content: this.textarea + " : " + this.currentUser, type: 1});
                }
                var message = {
                    "message": this.textarea,
                    "username": this.currentUser,
                    "to": this.chooseUser,
                    "url": this.webSocket.url
                };
                this.webSocket.send(JSON.stringify(message));
                this.textarea = '';
            },


        },
        mounted() {
            this.init();
        }
    })
</script>
</html>
<style>
    main {
        width: 800px;
        margin: auto; /*居中*/
    }

    body {
        margin: 0px;
        padding: 0px;
    }

    .el-header, .el-footer {
        background-color: #B3C0D1;
        color: #333;
        text-align: center;
        line-height: 60px;
    }

    .el-aside {
        background-color: #D3DCE6;
        color: #333;
        text-align: center;
    }

    .el-main {
        background-color: #E9EEF3;
        color: #333;
        text-align: center;
        height: 400px;
        max-height: 400px;
    }

    body > .el-container {
        margin-bottom: 40px;
    }

    .el-container:nth-child(5) .el-aside,
    .el-container:nth-child(6) .el-aside {
        line-height: 260px;
    }

    .el-container:nth-child(7) .el-aside {
        line-height: 320px;
    }

    .choose:hover {
        cursor: pointer;
        background-color: #E9EEF3;
    }

    .selected {
        color: green;
        font-weight: bold;
    }
</style>