<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  对应接口的全路径 -->
<mapper namespace="com.fresh.member.mapper.IAddrInfoMapper">
	<insert id="add" parameterType="AddrInfo">
		insert into addrInfo values(#{ano}, #{mno}, #{name}, #{tel}, #{province}, #{city}, #{area}, #{addr}, 0, 1);
	</insert>
	
	<update id="update" parameterType="int">
		update addrInfo set flag = 0 where mno = #{_parameter}
	</update>
	
	<update id="updates">
		update addrInfo set flag = (flag+1)%2 where ano in
		<foreach collection="array" separator="," open="(" close=")" item="item">
			#{item}
		</foreach>
	</update>

	<select id="findByMno" parameterType="int" resultType="AddrInfo">
		select ano, mno, name, tel, province, city, area, addr, flag from addrInfo where status = 1 and mno=#{_parameter}
	</select>
</mapper>
