<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fresh.system.mapper.CouponMapper">

    <resultMap type="Coupon" id="CouponResult">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="img" column="img"/>
        <result property="money" column="money"/>
        <result property="desc" column="desc"/>
        <result property="limit" column="limit"/>
        <result property="start" column="start"/>
        <result property="end" column="end"/>
        <result property="num" column="num"/>
        <result property="total" column="total"/>
    </resultMap>

    <sql id="selectCouponVo">
        select id,
               title,
               img,
               money,
               `desc`,
               `limit`,
               `start`,
               `end`,
               num,
               `total`
        from coupon
    </sql>

    <select id="selectCouponList" parameterType="Coupon" resultMap="CouponResult">
        <include refid="selectCouponVo"/>
        <where>
            <if test="id != null ">and id = #{id}</if>
            <if test="title != null  and title != ''">and title = #{title}</if>
            <if test="money != null  and money != ''">and money = #{money}</if>
            <if test="desc != null  and desc != ''">and desc = #{desc}</if>
            <if test="start != null ">and start >= #{start}</if>
            <if test="end != null ">and end <![CDATA[<= #{end}]]></if>
        </where>
    </select>

    <select id="selectCouponById" parameterType="Long" resultMap="CouponResult">
        <include refid="selectCouponVo"/>
        where id = #{id}
    </select>

    <select id="getMatchConditionCouponList" parameterType="Coupon" resultMap="CouponResult">
        <include refid="selectCouponVo"/>
        where <![CDATA[`start`< DATE_ADD(NOW(),INTERVAL ${time} HOUR)]]>
    </select>
    <select id="getCouponCards" resultType="com.fresh.system.domain.CouponCard">
        select count(cid) `sum`, uid, cid, num, status
        from memberqiangcoupon
        where status = 1
        group by cid, uid, num, status
    </select>
    <select id="selectAll" resultType="com.fresh.system.domain.Coupon">
        <include refid="selectCouponVo"/>
        where
        <![CDATA[`start` >= DATE_SUB(NOW(),INTERVAL ${time} DAY) and `end` <= DATE_ADD(NOW(),INTERVAL ${time} DAY)]]>
    </select>
    <select id="selectByStatus" resultType="com.fresh.system.domain.vo.CouponMiddle">
        select cid, count(`num`) as `countnum`
        from memberqiangcoupon
        where status = #{status}
        group by cid
    </select>


    <insert id="insertCoupon" parameterType="Coupon" useGeneratedKeys="true" keyProperty="id">
        insert into coupon
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="img != null">img,</if>
            <if test="money != null">money,</if>
            <if test="desc != null">`desc`,</if>
            <if test="limit != null">`limit`,</if>
            <if test="start != null">`start`,</if>
            <if test="end != null">`end`,</if>
            <if test="num != null">num,</if>
            <if test="num != null">total,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="img != null">#{img},</if>
            <if test="money != null">#{money},</if>
            <if test="desc != null">#{desc},</if>
            <if test="limit != null">#{limit},</if>
            <if test="start != null">#{start},</if>
            <if test="end != null">#{end},</if>
            <if test="num != null">#{num},</if>
            <if test="num != null">#{num},</if>
        </trim>
    </insert>

    <update id="updateCoupon" parameterType="Coupon">
        update coupon
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="img != null">img = #{img},</if>
            <if test="money != null">money = #{money},</if>
            <if test="desc != null">desc = #{desc},</if>
            <if test="limit != null">limit = #{limit},</if>
            <if test="start != null">start = #{start},</if>
            <if test="end != null">end = #{end},</if>
            <if test="num != null">num = #{num},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCouponById" parameterType="Long">
        delete
        from coupon
        where id = #{id}
    </delete>

    <delete id="deleteCouponByIds" parameterType="String">
        delete from coupon where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>