<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fresh.coupon.mapper.CouponMapper">

    <select id="getCouponInfoByCid" resultType="com.fresh.common.entity.Coupon">
        select `id`,`title`,`img`,`money`,`desc`,`limit`,`start`,`end`,`num`,`total` from coupon
        where `id`=#{cid}
    </select>
</mapper>