<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  对应接口的全路径 -->
<mapper namespace="com.fresh.order.mapper.IOrderInfoMapper">
	<insert id="add" parameterType="com.fresh.common.entity.OrderInfo">
		insert into orderInfo values(#{ono}, now(), #{ano},null, null, 1, #{price}, 0);
	</insert>
</mapper>
